.ComboBox {
    --ooee--ComboBox--outline-width--focus-within: 2px;
    --ooee--ComboBox--outline-style--focus-within: solid;
    --ooee--ComboBox--outline-color--focus-within: #aaa;
    --ooee--ComboBox--outline-offset--focus-within: 2px;

    --ooee--InputText--outline-width--focus-visible: 0;
    --ooee--Button--outline-offset--focus-visible: -2px;

    &:focus-within {
        outline-width: var(--ooee--ComboBox--outline-width--focus-within);
        outline-style: var(--ooee--ComboBox--outline-style--focus-within);
        outline-color: var(--ooee--ComboBox--outline-color--focus-within);
        outline-offset: var(--ooee--ComboBox--outline-offset--focus-within);
    }
}
