:root {
    --ooee--ComboBox--outline-width--focus-within: 2px;
    --ooee--ComboBox--outline-style--focus-within: solid;
    --ooee--ComboBox--outline-color--focus-within: #aaa;
    --ooee--ComboBox--outline-offset--focus-within: 2px;
    --ooee--ComboBox--border-radius--focus-within: 0;
}

.ComboBox {
    --ooee--InputText--outline-width--focus-visible: 0;
    --ooee--Button--outline-offset--focus-visible: -2px;

    &:focus-within {
        outline-width: var(--ooee--ComboBox--outline-width--focus-within);
        outline-style: var(--ooee--ComboBox--outline-style--focus-within);
        outline-color: var(--ooee--ComboBox--outline-color--focus-within);
        outline-offset: var(--ooee--ComboBox--outline-offset--focus-within);
        border-radius: var(--ooee--ComboBox--border-radius--focus-within);
    }
}

:root {
    --ooee--ComboBox--List--background-color: #eee;
}

.ComboBoxList {
    /* Functional */
    overflow-y: auto;
    z-index: 10000;

    /* Visual */
    background-color: var(--ooee--ComboBox--List--background-color);
    box-shadow: 4px 4px 32px rgba(0, 0, 0, 0.2);
}

:root {
    --ooee--ComboBoxItem--background-color: #eee;
    --ooee--ComboBoxItem--padding-vertical: 8px;
    --ooee--ComboBoxItem--padding-horizontal: 8px;
}

.ComboBoxItem {
    padding: var(--ooee--ComboBoxItem--padding-vertical)
        var(--ooee--ComboBoxItem--padding-horizontal);
    background: var(--ooee--ComboBoxItem--background-color);
    font-family: var(--ooee--font-family);
}

:root {
    --ooee--ComboBoxItemActive--background-color: #ddd;
}

.ComboBoxItemActive {
    background: var(--ooee--ComboBoxItemActive--background-color);
}

:root {
    --ooee--ComboBoxNoResults--background-color: #eee;
    --ooee--ComboBoxNoResults--padding-vertical: 8px;
    --ooee--ComboBoxNoResults--padding-horizontal: 8px;
}

.ComboBoxNoResults {
    padding: var(--ooee--ComboBoxNoResults--padding-vertical)
        var(--ooee--ComboBoxNoResults--padding-horizontal);
    background: var(--ooee--ComboBoxNoResults--background-color);
    font-family: var(--ooee--font-family);
}
