.Debug {
    font-family: monospace;
    margin: 32px 0;
    background: #eee;
    color: #aaa;
    border-radius: 8px;

    tr > td {
        padding: 4px 8px;
        white-space: nowrap;

        &:first-child {
            font-weight: 800;
        }
    }

    tr:first-child > td {
        padding: 8px 8px 4px 8px;
    }

    tr:last-child > td {
        padding: 4px 8px 8px 8px;
    }
}