:root {
    --ooee--InputText--background-color: #eee;
    --ooee--InputText--background-color--hover: #ddd;
    --ooee--InputText--background-color--focus: #ccc;
    --ooee--InputText--padding-vertical: 8px;
    --ooee--InputText--padding-horizontal: 8px;
    --ooee--InputText--outline-width--focus-visible: 2px;
    --ooee--InputText--outline-style--focus-visible: solid;
    --ooee--InputText--outline-color--focus-visible: #aaa;
    --ooee--InputText--outline-offset--focus-visible: 2px;
}

.InputText {
    background-color: var(--ooee--InputText--background-color);
    border: 0;
    padding: var(--ooee--InputText--padding-vertical)
        var(--ooee--InputText--padding-horizontal);

    &:hover {
        background-color: var(--ooee--InputText--background-color--hover);
    }

    &:focus {
        background-color: var(--ooee--InputText--background-color--focus);
    }

    &:focus-visible {
        outline-width: var(--ooee--InputText--outline-width--focus-visible);
        outline-style: var(--ooee--InputText--outline-style--focus-visible);
        outline-color: var(--ooee--InputText--outline-color--focus-visible);
        outline-offset: var(--ooee--InputText--outline-offset--focus-visible);
    }
}
